[submodule "externals/alure"]
	path = externals/alure
	url = https://github.com/LAGonauta/alure
	branch = hasLoopPoints
[submodule "externals/picojson"]
	path = externals/picojson
	url = https://github.com/kazuho/picojson/
[submodule "externals/MetaHookSv"]
	path = externals/MetaHookSv
	url = https://github.com/hzqst/MetaHookSv
[submodule "externals/ogg"]
	path = externals/ogg
	url = https://github.com/xiph/ogg
[submodule "externals/libsndfile"]
	path = externals/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "externals/openal-soft"]
	path = externals/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "externals/flac"]
	path = externals/flac
	url = https://github.com/xiph/flac
[submodule "externals/opus"]
	path = externals/opus
	url = https://github.com/xiph/opus
[submodule "externals/vorbis"]
	path = externals/vorbis
	url = https://github.com/xiph/vorbis
[submodule "externals/soxr"]
	path = externals/soxr
	url = https://git.code.sf.net/p/soxr/code
